body{
    text-align: center;
    padding: 2px;
}
.choice-button{
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    border-radius: 50px;
    background-color: rgb(160, 235, 210);
    cursor: pointer;

    box-shadow: 0 0 3px cyan, 0 0 10px cyan;
    background-color: rgb(189, 181, 181);
    justify-content: center;
    margin: 8px 8px 8px 8px;
}
.choice-button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 15px cyan, 0 0 50px cyan,
    0 0 15px cyan,
    0 0 15px cyan;
}

.choice-image{
    height: 70px;
}
#reset{
    cursor: pointer;
    height:30px;
    width: 80px;
    background-color: rgb(226, 80, 80);
    border: none;
    border-radius: 10px;
    margin: 10px;

    box-shadow: 0 0 3px rgb(211, 173, 70), 0 0 10px rgb(211, 173, 70);
    background-color: rgb(189, 181, 181);
    justify-content: center;
    margin: 8px 8px 8px 8px;
}
#reset:hover{
    box-shadow: 0 0 5px rgb(211, 173, 70),
    0 0 15px rgb(211, 173, 70), 0 0 50px rgb(211, 173, 70),
    0 0 15px rgb(211, 173, 70),
    0 0 15px rgb(211, 173, 70);    
}